<div class="welcome-img"></div>
<div class="welcome">
<h2>Add Some Positivity!</h2>


<form action="/positive_posts/new" method="post">
<label for="name">Content</label>
    <input type="text" placeholder="Add Positivity Here" name="content" value="">
    <input type="submit" name="" value="Share">

</form>
</div>