<h2>Create a new Entry</h2>


<form action="/positive_posts/new" method="post">
<label for="name">Content</label>
    <input type="text" name="content" value="">
    <input type="submit" name="" value="Create Entry">

</form>