<h2>Login Form</h2>

<form action="/login" method="post">


  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
<br> <br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        <br><br>
    <button type="submit" class="signupbtn">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  <br>


</div>
</form>
<form action="/" method="get">
 <button type="submit" class="cancelbtn"> Cancel</button>
</form>
