<div class="welcome-img"></div>
<div class="welcome">
<h1>Post Your Positivity!</h1>
<p>Share your tips, quotes, reminders and wake-up calls for peace and serenity</p>
<a href="/signup">Sign Up</a> OR <a href="/login">Login</a>
		



